*{
    margin: 0;
    padding: 0;

}


.wrapper{

    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.alert_self{
    align-self: stretch;
    margin: 20px 40px
}


/* navbar */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
    /*background: rgb(238,174,202);*/
    background: radial-gradient(circle, rgb(220, 190, 203) 0%, rgba(148,182,233,0.48081239331670167) 100%);
}
.header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #dfdfdf;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 2;

    justify-content: center;
}
.header a{
    margin-top: 10px;
}

.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    z-index: 2;
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #dfdfdf 0%, #b8b7b7 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    transition: .6s;
    color: #7c0896;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a .translation_missing{
    color:#4d4747;
}

.sidebarMenuInner li a{
    color: #4d4747;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.sidebarMenuInner li:hover{
    background-color: #dfdfdf;
}
.sidebarMenuInner li:first-child{
    background-color: transparent;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #5c5c5c;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.LogoText{
    color: #585858;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
}
.LogoText:hover{
    color: #585858;
    text-decoration: none;
}

.btn-width{
    width: 100%;
    margin-top: 10px;
}



/* Maine page login */

.MinPageContainer{
    max-width: 1100px;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);

    border-radius: 20px;
    display: flex;
    flex-direction: column;

    padding: 20px;
}

.maininformation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Last three operation*/
.last_five_operation{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: snow;
    background-color: rebeccapurple;
}
.last_five_operation div{
    margin-bottom: 20px;
    border-bottom: 1px solid snow;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.last_five_operation div span{
    max-width: 150px;
    width: 100%;
}
.last_op_link{
    color: rgb(253, 216, 216);
    transition: .4s;
    border: none;
}
.last_op_link:hover{
    color:ghostwhite;
    text-decoration: none;
}

.MainPageLeft{
    width: 50%;
}
.MainPageLeft div{
    box-sizing: border-box;
    margin-top: 20px;
}

/*Fixed button*/


.add_button_operation {
    position: fixed;
    bottom: 70px;
    left: 100px;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    z-index: 0;
    list-style: none;
}
.btn-info:hover{
    list-style: none;
}




.table{
    width: 100%;
    border-radius: 20px;
}
.current_amount_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cf58ea;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}
.current_amount_block a{
    width: 150px;
}

.green{
    color: rgb(174, 255, 182);
}
.gray{
    color: #fffdfd;
}
.red{
    color: rgb(255, 176, 176);
}

.most_category{
    display: flex;
    align-items: center;
    background-color: #b9e5ca;
    border-radius: 10px;
    padding: 20px;
}


/* right side */
.MainPageRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.MainPageRight h2{
    width: 100%;
    font-size: 24px;
    margin-top: 20px;
}
.point-graph h2{
    text-align: center;
    font-size: 16px;
}



/*fixed button*/
.fixed-btn{
    position: fixed;
    z-index: 1;
    bottom: 12%;
    right: 8%;
    box-sizing: border-box;

}

.btn-add{
    display: block; margin: auto;
    width: 60px;
    height: 60px;
    background-color: rgb(130, 166, 93);
    text-align: center;
    border-radius: 50%;
    text-align: center;
    margin-top: auto;
    transition: .5s;
    border: 3px solid rgb(116, 169, 31);
    list-style: none;
    font-size: 30px;
    color: rgb(227, 255, 226);
}
.btn-add:hover{
    text-decoration: none;
    color: rgb(227, 255, 226);
    background-color: rgb(143, 185, 77);;
}


/* Categories page */

.CategoriesPageContainer{
    max-width: 1100px;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    text-align: center;
}
.CategoriesPageContainer h1{
    color: #5a5656;
}


.categorie-blocks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.category-img{
    width: 50px ;
}


@media only screen and (max-width : 1079px){
    .categorie-blocks{

        justify-content: center;
    }
}

.categorie-blocks div{
    margin: 15px 10px;
}

.block-categorie{
    max-width: 340px;
    width: 100%;
    height: 100px;
    margin: 10px 0;
    border: 3px solid rgb(218, 218, 218);
    border-radius: 15px;
    justify-content: space-around;
    background-color: #82dcbf;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}
.block-categorie h3{
    color: #5c5c5c;
}
.block-categorie p{
    margin-top: 13px;
}


.search-block{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #5c5c5c;
    margin: 20px 0;
    padding: 0 15px;
}
.search-block .container{
    max-width: 500px;
    width: 100%;
    height: 125px;
    background-color: rgba(255, 186, 186, 0.293);
    -webkit-box-shadow: inset 0px 0px 45px -17px rgba(255, 255, 255, 0.89);
    -moz-box-shadow: inset 0px 0px 45px -17px rgba(255, 255, 255, 0.89);
    box-shadow: inset 0px 0px 45px -17px rgba(255, 255, 255, 0.89);
    border: 2px solid rgba(255, 255, 255, 0.698);
    border-radius: 20px;
}

.search-cat-input{
    max-width: 200px;
    width: 100%;
    height: 50px;
    font-size: 22px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid rgb(255, 149, 149);
    padding: 0 15px;
    transition: .4s;
    background-color: #9e6a6a;
    color: snow;
}
.search-cat-input:focus{
    outline: none;
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.search-btn{
    margin-left: -5px;
    border-top: none;
    font-size: 22px;

    border-left: none;
    border-right: none;
    border-bottom: 4px solid rgb(255, 149, 149);
    height: 50px;
    width: 50px;
    border-radius: 0px;
    transition: .2s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.all-cat{
    color: rgb(164, 164, 164);
    transition: .4s;
}
.all-cat:hover{
    text-decoration: none;
    color: rgb(49, 49, 49);
}

/*BLOCK CREATE/EDIT FORMS*/
.form-create-block{
    max-width: 800px;
    width: 100%;
    padding: 10px;

}
.form-create-block div:last-child{
    margin-top: 10px;
}



/*Operation blocks*/
.operation-index-container{
    max-width: 1100px;
    width: 100%;
}
.operation-img{
    width: 20px;
}
.button-table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button-table a{
    width: 40px;
    height: 40px;
}
.button-table button{
    width: 40px;
    height: 40px;
}




/*report controller*/
.report-container-by{
    max-width: 1000px;
    width: 100%;
}

.Reports-title{
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.report-container{
    display: flex;
    width: 100%;
    justify-content: center;

    padding: 40px 40px;
    
}


.report-form{
    max-width: 1000px;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.75);
    padding: 20px 15px;
    border-radius: 10px;
}
.report-form h1{
    width: 100%;
    border-bottom:2px solid black ;
    padding-bottom: 10px;
}

.check-form{
    margin-left: 10px;
}


.report-form .form{
    width: 100%;
}
.buttons-form{
    width: 100%;
    display: flex;
}

/*reports*/
.report-categories{
  max-width: 2000px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 50px;
  border: 2px solid rgba(92, 92, 92, 0.309);
  border-radius: 20px;
  box-sizing: border-box;
}

.report-data-container{
    max-width: 1500px;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
}

@media only screen and (max-width : 768px){
    .maininformation{
        flex-direction: column-reverse;
        align-items: center;
    }
    .MainPageRight h2{
        margin-top: -20px;
        font-size: 18px;
    }
    .MainPageLeft{
        width: 90%;
    }
    .pie_grpah{
        justify-self: self-start;
    }
    .categorie-blocks{
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px 10px;
        align-items: center;
        margin-bottom: 70px;
    }
    .categorie-blocks div{
        margin: 15px 0px;
    }
    .block-categorie{
        max-width: 350px;
    }
    .fixed-btn{
        position: fixed;
        z-index: 1;
        bottom: 20px;
        right: 15px;
    }

    .operation-index-container{
        font-size: 10px;
    }

    /*reports*/
    .report-categories{
        flex-direction: column-reverse;
        align-items: center;
    }
    .report-categories div:last-child{
        margin-bottom: 50px;
    }
}


/*checkbox*/
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;

    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;

    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container-checkbox :hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container-checkbox  input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container-checkbox  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.pagination {
    margin-top: 50px;
}

.pagination .page{
    cursor: pointer;
}
.pagination .page a {
    text-decoration: none;
    padding: 10px 10px 13px 10px;
    margin-right: 10px;
    color: black;
    border-radius: 10px;
    border: 3px solid rgb(93, 93, 93);
    background-color: #ffffff;
    top:10px;
    transition: .2s;
}
.pagination .page a:hover{
    background-color: #f1f1f1;
}

.pagination .disabled{
    margin-top: -11px;
    border-radius: 10px;
    margin-right: 10px;
    border: 3px solid rgb(93, 93, 93);
    background-color: #dfd6d6;
    padding: 10px;
}
.pagination .active{
    margin-top: -11px;
    border-radius: 10px;
    margin-right: 10px;
    border: 3px solid rgb(255, 255, 255);
    background-color: #ccc;
    background-color: #f5d3d3;
    padding: 10px;
}



/*Login register page*/
.container_login_reg{
    width: 100%;
    max-width: 600px;
    

    padding: 0 10px;


    margin-top:50px ;
}
.logreg{
    width: 100%;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.logreg h2{
    width: 100%;
    background-color: rgba(109, 210, 144, 0.436);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #635d5d59;
    -webkit-box-shadow: 0px 0px 93px -19px rgba(99,93,93,1);
    -moz-box-shadow: 0px 0px 93px -19px rgba(99,93,93,1);
    box-shadow: 0px 0px 93px -19px rgba(99,93,93,1);
    
}
.placehold{
    margin-top: 30px;
}
.input-block{
    width: 100%;
    display: flex;
    margin-top: -20px;
    margin-bottom: 30px;
    flex-direction: row;
}

.input_icon{
    width: 50px;
    height: 40px;
    background: rgb(205, 216, 255);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #4f4f4f;
}
.field_with_errors{
    width: 100%;
}
.form-text-field{
    border: none;
    height: 40px;
    max-width: 550px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3px;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.form-text-field:focus{
    outline: none;
    border:none;
    background-color: #f8f8f8;
}


.button-loginreg{
    max-width: 200px;
    width: 100%;
    padding: 5px 10px;
    transition: .2s;
    border-radius: 10px;
    background-color: rgb(14, 97, 64);
    color: snow;
    box-shadow: none;
    border: none;
}

.button-loginreg:hover{
    background-color: rgb(3, 148, 90);
}
.buttons-categories{
    display: flex;
    width: 100%;
    justify-content: center;

}
.buttons-categories .container{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}



/*form checkbox*/


  .checkbox-result{
    display: flex;
    width: 340px;
    justify-content: space-around;
    margin-bottom: 20px;
    border:4px solid rgba(177, 177, 177, 0.436);
    padding: 10px;
    border-radius: 20px;
  }
  .checkbox-result span{
    width: 120px;
  }
  .checkbox-result span:last-child{
    padding-left: 30px;
  }
  .checkbox-wrapper-3{
    margin-left: -20px;

  }
  .checkbox-wrapper-3 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-3 .toggle {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-3 .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 60px;
    height: 24px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
  }

  .checkbox-wrapper-3 .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: block;
    background: white;
    border-radius: 30px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
    background: #519993;
  }
  .checkbox-wrapper-3 #cbx-3:checked + .toggle span {
    background: #55a901;
    transform: translateX(40px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(130, 112, 0, 0.2);
  }
  .checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
  }





.main_friendly_page{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position:absolute;
    margin-top: -70px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.main_page_container{
    max-width: 800px;
    width: 100%;
    display: flex;
    border: 3px solid snow;
    background-color: rgba(249, 249, 249, 0.595);
    padding: 40px;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.animation-image{
    transform: translateY(-3%);
    animation: floater_anim 1.5s infinite;
    transition: ease 0.5s;
}
.animation-image img{
    width: 200px;
    
}
.buttons-login-reg-main{
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.buttons-login-reg-main a{
    margin-top: 40px;
    margin-right: 20px;
}
.button_mainpage{
    border: 3px solid snow;
    border-radius: 5px;
    color: rgb(80, 73, 105);
    background-color: rgba(141, 141, 141, 0.278);
    padding: 5px 20px;
    text-decoration: none;
    transition: .4s;
}
.button_mainpage:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.716);
}
@keyframes floater_anim{
    0%{transform: translateY(-3%); transition: ease 0.5s;}
    50%{transform: translateY(2%); transition: ease 0.5s;}
}



/*Index operation*/
.operation_index_container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.op_index{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.operation_block_index{
    width: 100%;
    background-color: #8bffff4a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 5px 0;
    padding: 3px 10px;
    border-radius: 10px;
}

.operation_block_index div{
    max-width: 300px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgba(7, 7, 7, 0.1);
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: flex;
    
}
.operation_block_index div:first-child{
    border-left: 1px solid rgba(7, 7, 7, 0.1);
}
.operation_block_index:first-child{
    background-color: #55abab4a;
    justify-content: space-around;
}
.operation_block_index:first-child div{
    max-width: 249px;
    border-left: none;
    border-right: none;
}

.operation_block_index div:last-child{
    width: 86px;
}