<h1>Reports#index</h1>
<p>Find me in app/views/reports/index.html.erb</p>


<%= link_to "Report Category", "report_by_category", method: :post %>
<%= link_to "Report Date", "report_by_dates", method: :post %>
