<div class="form-create-block">
  <div class="card">
      <div class="card-header">
        <h1><%= t("operations_view.create") %></h1>
      </div>
    <%= render "form", operation: @operation, class:"d-flex justify-content-center", style:"width:100%" %>



  </div>
    <div>
      <%= link_to t("buttons.operations_all"), operations_path, class:"btn btn-info" %>
    </div>
</div>

